﻿@using Microsoft.AspNet.Identity
@using MVC_Curso.Controllers
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" id="navbarColor03">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Manage")">Hello @User.Identity.GetUserName()!</a>
            </li>
            <li class="nav-pills"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
    @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
}
else
{
    <ul class="nav navbar-nav navbar-right" id="navbarColor03">
        <li class="nav-item"><a class="nav-link" href="@Url.Action("Register", "Account")">Register </a></li>
        <li class="nav-item"><a class="nav-link" href="@Url.Action("Login","Account", null)">Log in</a></li>
    </ul>
}

@*@Html.ActionLink("Log in","Login","Account", null, new { id = "loginLink" })*@