﻿<div class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="navbar-brand">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @Html.ActionLink("MVC App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </div>
    <div class="collapse navbar-collapse" role="navigation" id="navbarColor03">
        <ul class="navbar-nav mr-auto active">
            <li class="nav-item"><a class="nav-link" href="@Url.Action("New", "Rentals")">Add rental </a></li>
            <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Customers")">Customers </a></li>
            <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Movies")">Movies </a></li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</div>
