﻿@model MVC_Curso.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Membresía: @Model.MembershipType.Name</li>
    @if (Model.BirthDate.HasValue)
    {
        <li>Fecha de Nacimiento: @Model.BirthDate.Value.ToShortDateString()</li>
    }
</ul>


