﻿@model IEnumerable<MVC_Curso.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>

<p>
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-success" })
</p>

@*@if (!Model.Any())
    {
        <h3>We don't have any customers registered yet!</h3>
    }
    else
    {*@
<table id="customers" class="table table-hover table-light table-borderless">
    <thead>
        <tr style="align-items: center">
            <th>Customer</th>
            <th>Discount</th>
            <th>Mebership</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@*}*@

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.discountRate",
                        render: function (data) {
                            return data + "%";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-danger js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#customers").on("click", ".js-delete",
                function () {
                    var button = $(this);

                    bootbox.confirm("Delete the registry. Sure?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/customers/" + button.attr("data-customer-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                })
        });
    </script>
}
