﻿@using MVC_Curso.Models
@model MVC_Curso.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.Customers.Count > 2 ? "alert-danger" : null;
}

<h2 class="@className" style="margin-top: 25px">@Model.Movie.Name</h2>


@if (Model.Customers.Count == 0)
{
    <text>No one has rented</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}

