﻿@model IEnumerable<MVC_Curso.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>


<table id="movies" class="table table-hover table-light table-borderless align-items-center">
    <thead>
        <tr>
            <th> Movie </th>
            <th> Genre </th>
            <th> Stock </th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "numberInStock"
                    },
                ]
            });
        });
    </script>


    }


