﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Curso MVC - UDEMY</h1>
    <p class="lead">Elaboración de app MVC mediante curso on-line de UDEMY</p>
    <p><a href="https://udemy.com" class="btn btn-primary btn-lg">UDEMY &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            El curso tiene ciertos errores, pero que iremos arreglando en el camino. Lo importante es resistir, persistir y nunca desistir!
        </p>
        <p><a class="btn btn-default" href="#">No hay enlace &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cambia lo que quieras</h2>
        <p>Se cambiaron un par de textos para hacer más personalizado el inicio</p>
        <p><a class="btn btn-default" href="#">No hay enlace &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>EntityFramework</h2>
        <p>Próximamente se iniciará el curso de Entity Framework, con el fin de despejar dudas respecto a esta poderosa herramienta</p>
        <p><a class="btn btn-default" href="#">Curso UDEMY &raquo;</a></p>
    </div>
</div>